body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  width: 100vw;
  height: 100vh;
  color: #FFF;
  background: rgb(38 , 38, 38)
}
img{
  width: 100%
}
html {
  cursor: pointer;
 }

 h3 {
  text-align: center;
  user-select: none;
 }

 .div-box {
  width: 30px;
  height: 30px;
  font-size: 30px;
  position: absolute;
 }